<html>
{% load leaflet_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <style media="screen">
            #food_cart { width:100%; height:100%}
        </style>
    </head>
    <body>

        <script type="text/javascript">
            function map_init(map, options) {
                var dataurl = '/cart_db_data/';
                $.getJSON(dataurl, function(data) {
                L.geoJson(data).addTo(map);
                console.log('loaded');
                });
            }
        </script>

        {% leaflet_map "food_cart" callback="map_init" %}
    </body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>


</html>